---
key: 1
title: Friends
permalink: /friends/
options: nolanding
excerpt: 这是大佬们的友链
background-image: banner.jpg
---

{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li class="2u 3u(large) 5u(medium) 11u(small)">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.topics
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}

	<h3>Friends</h3>
	<hr />
	<a href="https://zarathu.cc/" target="_blank">尹协童老师</a>
	<p></p>
	<a href="https://www.cnblogs.com/kikokiko/" target="_blank">石佳玥老师</a>
	<p></p>
	<a href="https://blog.csdn.net/u014157256" target="_blank">陈嘉老师</a>
	<p></p>
	<a href="https://www.cnblogs.com/whdsunny/" target="_blank">周园顾老师</a>
	<p></p>
	<a href="https://bbboundary.github.io/" target="_blank">陈冰萸老师</a>
	<p></p>
	<a href="https://wzyxv1n.top/" target="_blank">稳赚老师</a>
